@model IEnumerable<ProductMVCCRUD.Models.Category>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Add Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.cId }) |
                @Html.ActionLink("Details", "Details", new { id=item.cId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.cId })
            </td>
        </tr>
}
    </tbody>
</table>
